{% extends 'base.html' %}
{% load staticfiles %}
{% load dialogos_tags %}
{% load static %}

  {% block title %}
                               
Bali Old Boys Association | {% firstof batch "Batch" %} Batch
 {% endblock %}
{% block main %}
<div class='col-md-offset-1'>
{% if batch.picture %}
<div class="row col-offset-md-2">
    <img class="col-md-12 img-responsive thumbnail"src={{batch.picture.url}}  alt="Sample Image">
 </div> 

  <div class="profile">
                    <!--Profile Body-->
                    <div class="profile-body">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments"></i>Comments</h2>
                                <a href="#"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body margin-bottom-50">
                            
                             {% comments batch as total_comments  %}
                             {% for comment  in total_comments %}
                                <div class="media media-v2">
                                    <a class="pull-left" href="#">
                                        <img class="media-object rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <strong><a href="#">{{comment.author.get_full_name}}</a></strong> alias
                                            <small>About {{ comment.submit_date|timesince}} ago</small>
                                        </h4>
                                        <p>{{ comment.comment}}.</p>
                                        
                                    </div>
                                </div><!--/end media media v2--> 
                                {% endfor %}
                                
   
                            </div>
                        </div>  
             </div>
{% if user.is_authenticated %}
{% comment_form batch as comment_form %}
  <form id="commentsFrm" class='form-horizontal'action="{% comment_target batch %}" method="POST">
    {% csrf_token %}
{{comment_form}}

 <input type="submit" value="Add comment" id="id_submi" class="btn btn-primary btn-lg" />
 </form>
{% else %}
    <p>Please <a href="">log in</a> to leave a comment.</p>
  

  {% endif %}
  
{% else %}
No batch information at this time <br><br>
<a  class="btn btn-primary" href="{% url 'contact' %}">Submit  a class photo</a> or
 <a  class="btn btn-primary" href="">create an account</a> to get started
  
{% endif %} 
<div class='row'  id="newcomment"></div>
 </div>




{% endblock %}
{% block javascript %}
<script type="text/javascript">
        $(document).ready(function($) {
                          $("#class").select2({ placeholder: "Select a Class",
    allowClear: true});
                          for ( i = 1954; i <= new Date().getFullYear(); i++) {
                          $('select').append($('<option />').val(i).html(i));
                          }
						  
						  $("#id_comment").addClass('form-control').attr('rows', 4);
						  

$("#commentsForm").submit(function(e) {
    e.preventDefault;
    var url = $(this).attr('action'); // the script where you handle the form input.
	var data=$(this).serialize()
     console.log(data)
    $.ajax({
           type: "POST",
           url: url,
           data: data, // serializes the form's elements.
           success: function(data)
           {
		   $.get( "/batch", function( data ) { 
  $("#comments").html($('#comments',data).html());
});
              // alert(data); // show response from the php script.
			   
           }
         });
    return false; // avoid to execute the actual submit of the form.
});


$('#a').click(function (event) 
{ 
   event.preventDefault(); 
   $this =$(this);
   var url = $(this).attr('href');
   $.get(url, function(data) {
     $this.append(data)
     alert(data);
    });

 });
}); // Document ready
						  
		
                          </script>
{% endblock %}
