{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block main %}

<div class="row">
<div style="">

    <p>Cameroon Protestant college Bali is an educational establishment founded by the Basel Mission in 1949, but currently owned & run by the Presbyterian Mission in Cameroon.
     <div class="thumbnail col-sm-4">
            <img src="{%static "images/CPC_1.jpg"%}" alt="Sample Image">
        </div>

    Essentially imparts general education to students of both sexes (aged 10-19years)& prepares them for the Cameroon GCE exams.</p>
    
    
<p>Cameroon Protestant college Bali is an educational establishment founded by the Basel Mission in 1949, but currently owned & run by the Presbyterian Mission in Cameroon. Essentially imparts general education to students of both sexes (aged 10-19years)& prepares them for the Cameroon GCE exams.</p>


 <p>Cameroon Protestant college Bali is an educational establishment founded by the Basel Mission in 1949, but currently owned & run by the Presbyterian Mission in Cameroon. Essentially imparts general education to students of both sexes (aged 10-19years)& prepares them for the Cameroon GCE exams.</p>





</div>


{% endblock %}
