{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %}                               
BOBA | Thank you for your contribution
{% endblock %}
{% block main %}
<br /><br />
<div class="alert alert-success" role="alert">
<div clas = "well">
Thank you for your contribution. To ensure quality content on the webiste, your contribution will be reviewed
before being posted on the website. 
</div>
</div>
<div class="row">
<div class='social'>
   <a class="btn btn-social  btn-google-plus" href="https://plus.google.com/+BalioldboysOrg1949"><i class="fa fa-google-plus"> </i>&nbsp; Google</a>
   <a class="btn btn-social  btn-twitter" href="https://twitter.com/balioldboys" ><i class="fa fa-twitter"> </i>&nbsp; Twitter</a>
    <a class="btn btn-social  btn-facebook" href="https://www.facebook.com/groups/912719075414882/" ><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
</div>
</div>
{% endblock %}