{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
  {% block title %}
                               
Achievements of Bali Old Boys
                {% endblock %}

{% block main %}


 {% for boban in object_list %}
 
 <div class="row">

<legend>{{boban.name}}</legend>

 <div class="col-md-2">
        <div class="thumbnail">
            <img src="{{boban.image.url}}" alt="...">            
        </div>
    </div>

  <div class="col-md-10">
                  
          {{boban.description|safe}}          
</div>
</div>
 {% endfor %}

 
 <div class="row">

<a  class="" href="{% url 'contact' %}">Submit information about awesome things Bobans have done to impact the world.
</a></div>

{% endblock %}
