{% extends "base.html" %}
{% load i18n %}
  {% block title %}
                               
Login
                {% endblock %}
{% block main %}




 <div class="reg-background">
<div class="reg-block">
<form method="post" class="login-form"  action="">
{% csrf_token %}

       {% if form.errors %}<div class="alert alert-danger" role="alert">
<p>Your email and password didn't match. Please try again.</p>
</div>{% endif %}
                                <fieldset id="body">

                                    <div class="form-group">
                                        <input type="email" class="form-control" id="inputEmail3" name='username' placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="inputPassword3" name='password' placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-primary">Sign in</button>
                              
                                    
                                    </div>

                                    <div class="form-roup">
                                        <div class="checkbox"><input type="checkbox">
                                            <span> <label>  Remember me
                                        </label></span> </div>
                                    </div>
                                </fieldset>
                              
                                <a href="{% url 'auth_password_reset' %}"> Forgot your password?</a>
                                <div class="OR" id ="first">OR</div>
                                <div class='social'>
                                    <a class="btn btn-social  btn-google-plus" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google-plus"> </i>&nbsp;</a>
                                    <a class="btn btn-social  btn-linkedin" href="{% url 'social:begin' 'linkedin' %}"><i class="fa fa-linkedin"> </i>&nbsp;</a>
                                    <!--a class="btn btn-social  btn-twitter" href="{% url 'social:begin' 'twitter' %}" ><i class="fa fa-twitter"> </i>&nbsp;</a-->
                                    <a class="btn btn-social  btn-yahoo" href="{% url 'social:begin' 'yahoo' %}" ><i class="fa fa-yahoo"> </i> &nbsp;</a>
                                    <a class="btn btn-social  btn-facebook" href="{% url 'social:begin' 'facebook' %}" ><i class="fa fa-facebook"></i>&nbsp;</a>
                                </div>
                                <div class="OR" id ="second">OR</div>

                                <a href="{% url 'registration_register' %}" class="btn btn-primary btn-lg btn-block active" >Create an account</a>
                            </form>  <!-- Login Ends Here -->
                     </div>
                      </div>

{% endblock %}
             
