{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load future %}
{% load staticfiles %}
{% load static %}
{% load url from future %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<p class = "col-md-offset-2 col-md-8">
<legend>{% trans "Enter your new password below to reset your password:" %}</legend>
</p>
<div class = "col-md-offset-3 col-md-6">
  
    {% crispy form %}
</div>
{% endblock %}
 {% block javascript %}
        <script>
    $(document).ready(function($) {
       $('form').append('<button type = "submit" class="btn btn-primary"> Submit </button>') // end for loop
            })// end document ready
            
    </script>         
    {% endblock %}


{# This is used by django.contrib.auth #}