

<div class = 'col-sm-6'>
{% for words  in col_one %}

<div class="blog-post-tags">
  <ul class="list-unstyled list-inline blog-info">
     <li><h4 id = "{{words.word|slugify }}"> <strong> {{ words.word |title}}</strong> </h4> </li>     
      <li><i class="fa fa-user"></i> {% firstof words.user.nickname words.user.get_full_name %}</li>
       <li><i class="fa fa-pencil"></i> Edit </li>
   </ul>
  <p align="justify"> {{ words.definition }} </p> 
 </div> 
{% endfor %}
</div>


<div class = 'col-sm-6'>
    {% for words  in col_two %}
   
<div class="blog-post-tags">
  <ul class="list-unstyled list-inline blog-info">
     <li><h4 id = "{{words.word|slugify }}" > <strong> {{ words.word |title}}</strong> </h4> </li>     
      <li><i class="fa fa-user"></i> {% firstof words.user.nickname words.user.get_full_name %}</li>
       <li><i class="fa fa-pencil"></i> Edit </li>
   </ul>
  <p align="justify"> {{ words.definition }} </p> 
 </div> 

{% endfor %}
</div>


