{% extends 'history/base.html' %}
{% load staticfiles %}
{% load static %}
  {% block title %}
   Cameroon Protestant College Bali|Time Log 
{% endblock %}

 {% block content %} 
 <h2 class="col-md-offset-2">A look at the college time log<sub><a href ="{% url 'add-time-log' %}"> <font size="2" >Add time-log</font></a></sub></h2>
   
   {% for obj in object_list %}
     <div class="row ">
       <legend> {{obj.new_month}} {{obj.new_day}} {{obj.year}}  </legend>
       {{obj.event|safe}}
     </div>
{% endfor %}
 {% if is_paginated %}
        <ul class="pagination pagination-centered">
            {% if object_list.has_previous %}
                <li><a href="?page=1"></a></li>
                <li><a href="?page={{ object_list.previous_page_number }}"></a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if object_list.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if object_list.has_next %}
                <li><a href="?page={{ object_list.next_page_number }}">></a></li>
                E<li><a href="?page={{ object_list.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
        {% endif %}
 {% endblock %}
 {% block right_bar %} 

  {% endblock  %}   

